            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>A LITTLE BIT ABOUT ME</h2>
                                <p>
                                    Hello, I’m a Front End and Backend Developer from Maracaibo, Venezuela. I hold a engineering degree of Software. I keep the premise that every day we learn something new, after 9 years of experience the learning process just begins
                                </p>
                                <p>
                                    I am the father of 2 beautiful children who are my inspiration to continue the work of my dreams.
                                </p>
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img src="<%= asset_path('about/about.jpg') %>" alt="About me">
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#about -->