            <section id="feature">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">What will you get from me?</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            Some of the things you could get from my job
                        </p>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-4 col-lg-4 col-xs-12">
                          <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
                              <div class="media-left">
                                  <div class="icon">
                                      <i class="ion-iphone"></i>
                                  </div>
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">iOS iPhone Apps</h4>
                                  <p>I can do any type of application for iOS.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-lg-4 col-xs-12">
                          <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                              <div class="media-left">
                                  <div class="icon">
                                      <i class="ion-mouse"></i>
                                  </div>
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">Full Stack Ruby Developer</h4>
                                  <p>I can work any kind of application from the Back end to the Front end.</p>
                              </div>
                          </div>
                       </div>
                      
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-arrow-graph-up-right"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Always Updated!</h4>
                                    <p>As I said before I am always in a learning process to keep up with the latest technologies.</p>
                                </div>
                            </div>
                        </div>
                      </div>  
                      
                      
                      <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-ios-bolt-outline"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Agile Methodology</h4>
                                    <p>My work is focused on agile methodologies, to ensure quality work in the shortest possible time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-ios-flask-outline"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Test Driven Development</h4>
                                    <p> I do not like to experiment with your project so I make sure the code is well covered based on TDD.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-document-text"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Well documented.</h4>
                                    <p>My code is always well documented for any future restructuring or changes do not have any problem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#feature -->