        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top: -100px;">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <img alt="Hugo Rincon Profile Pic" src="<%= asset_path('profile_pic2.png') %>" width="15%"/>
                              
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>HI, MY NAME IS HUGO & I AM A</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">PROJECT MANAGER</b>
                                    <b>WEB DEVELOPER</b>
                                    <b>FATHER</b>
                                    <b>iOS DEVELOPER</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                    With 9 years experience, I've occupied many roles including ruby developer,<br> CTO and iOS developer. This site showcases some of my work.
                                </h2>
                                <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works" >View Works</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->