            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
            <section id="works" class="works">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">My Latest Works</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            This is a small sample of the latest works done
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="<%= asset_path('portfolio/img1.jpg') %>" class="img-responsive" alt="Nicole Accesories Preview" >
                                    <div class="overlay">
                                        <div class="buttons" style="left: 13%">
                                            <a rel="gallery" class="fancybox" href="http://nicoleac.com/" target="_blank">Visit Site</a>
                                            <a rel="gallery" class="fancybox" href="https://bitbucket.org/hugorincongnew/nicoleac" target="_blank">Check The Code</a>
                                        </div>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                <a href="#">
                                    Nicole Accesories
                                </a>
                                </h4>
                                <p>
                                    Full Website and Admin. (Ruby on Rails)
                                </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="img-wrapper">
                                    <img src="<%= asset_path('portfolio/img2.jpg') %>" class="img-responsive" alt="Build And Destroy Preview" >
                                    <div class="overlay">
                                        <div class="buttons" style="left: 37%">
                                            <a rel="gallery" class="fancybox" href="<%= asset_path('portfolio/img2-1.jpg') %>" target="_blank" alt="Build And Destroy Full Preview">Preview</a>
                                        </div>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                <a href="#">
                                    Build & Destroy
                                </a>
                                </h4>
                                <p>
                                    iPhone Cards Game. (Rubymotion)
                                </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="img-wrapper">
                                    <img src="<%= asset_path('portfolio/img3.jpg') %>" class="img-responsive" alt="Upward Software Previe" >
                                    <div class="overlay">
                                        <div class="buttons" style="left: 13%">
                                            <a rel="gallery" class="fancybox" href="http://upwardsoftware.com/" target="_blank">Visit Site</a>
                                            <a rel="gallery" class="fancybox" href="https://bitbucket.org/hugorincongnew/upwardsoftware" target="_blank">Check The Code</a> 
                                        </div>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                <a href="#">
                                    UpwardSoftware
                                </a>
                                </h4>
                                <p>
                                    Full Website. (Ruby On Rails)
                                </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section> <!-- #works -->
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->