

  <%= render :partial => 'header' -%>    

  <%= render :partial => 'about_me' -%>   

  <%= render :partial => 'portfolio' -%>  
  
  <%= render :partial => 'from_me' -%> 
  
  <%= render :partial => 'footer' -%> 
                            


