<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <title>Hugo Rincon - Ruby and IOS Developer</title>
    
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Robots" content="index, follow">
    <meta name="author" content="Hugo Rincon">
    <meta content="Hugo Rincon" name="application-name">
    <meta content="Hugo Rincon - Ruby and IOS Developer" property="og:title">
    <meta content="http://www.hrincon.com" property="og:url">
    <meta name="description" content="I'm a Ruby and IOS Developer with 9 years experience, I've occupied many roles including ruby developer CTO and iOS developer">
    <meta name="keywords" content="Software, Development, Web, Apps, Mobile, Design, Maintenance, Bug hunting, IOS, Programing, Ruby, Ruby on rails">
    <meta content="<%= asset_path('profile_pic2.png') %>" property="og:image">    
    <meta content="I'm a Ruby and IOS Developer with 9 years experience, I've occupied many roles including ruby developer CTO and iOS developer" property="og:description">
    
    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <!--
    ==================================================
    Footer Section Start
    ================================================== -->
    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">Copyright: <span>2017</span> . <a href="http://www.upwardsoftware.com" target="_blank">UpwardSoftware</a></p>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/hugorincong" target="_blank" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/hugorincong" target="_blank" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/hugo-rincon-4b285243/" target="_blank" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/114200001125257305225" target="_blank" class="Google Plus">
                            <i class="ion-social-googleplus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/hugoerg56" target="_blank" class="Google Plus">
                            <i class="ion-social-github"></i>
                        </a>
                    </li>                         
                </ul>
            </div>
        </div>
    </footer> <!-- /#footer -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93270470-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
